---
title: Mon premier article de blog
description: Minimaliste ne veut pas dire que Talos n'est pas extensible. Creusons ensemble le sujet des extensions pour le customiser et l'adapter à nos besoins.
date: 2023-11-15
thumbnail: https://une-tasse-de.cafe/blog/talos-ext/cover.png
author: Raphaël Hien
tags: ['introduction', 'blog']
---

# 